@import "tailwindcss";
@plugin "daisyui";


@theme{

  /* color */
  --color-main: #15803D;
  --color-main-02: #FACC15;
  --color-bg-hero: #CFF0DC;
  --color-bg-body: #F0FDF4;
  --color-bg-badge: #DCFCE7;
  --color-bg-footer: #166534;
  --color-bg-footer-02: #14532D;
  --color-dark-01: #1F2937;
  --color-dark-02: rgb(31, 41, 55, 0.8);
  --color-dark-03: rgb(31, 41, 55, 0.5);
  

  /* font  */
  --font-inter: "Inter", sans-serif;

  /* shadow */
  --shadow-impact: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

@layer base{
  html {
        font-size: 62.5%;
        /* For 1rem = 10px base */
  }

  *,
  *::before,
  *::after{
    color: var(--color-dark-01);
    font-family: var(--font-inter);
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
  }
}

@layer components {
  .active-category {
    @apply rounded-[0.4rem] bg-main text-white font-medium shadow-md transition-colors duration-300 ease-in-out hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400;
  }

  .addToCardBtn{
    @apply btn btn-xl w-full h-17.5 rounded-full bg-main text-white font-medium transition-colors duration-300 ease-in-out hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400;
  }
  
  .impact-card{
    @apply text-center bg-white transition-colors duration-300 ease-in-out hover:bg-green-100 p-16 rounded-[1.2rem] shadow-impact w-[33rem] 2xl:w-[51.67rem] h-62.5;
  }
}